name: test-on-pull-request

on:
  pull_request:
    branches:
      - main
    paths:
      - backend/**

jobs:
  back-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10.2

      - name: Build with Gradle
        run: |
          cd ./backend/sample
          ./gradlew test
